// colors
$colors: (
  white       : #FFF,
  black       : #000,
  dark        : #444,
  lightdark   : #554d56,
  gray        : #404040,
  lightgray   : #ddd,
  green       : #60985c,
  blue        : #335bb7
);

// fonts
$ff-base      : 'PT Sans', sans-serif;
$ff-narrow    : 'PT Sans Narrow';
$ff-size-base : 14px;

// spaces
$space-base   : 4rem;
$space-primary: 9.5rem;
